__pycache__/
*.py[cod]
.venv/
venv/
.env
db.sqlite3
media/
staticfiles/
.DS_Store
.vscode/
*.swp

# Ignore Django migration files
**/migrations/*.py
**/migrations/*.pyc

# Exception: Keep the __init__.py files so Django recognizes the directories
!**/migrations/__init__.py
